.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  color: #00cc66;
}

.dashboard-box {
  background: #111;
  padding: 20px;
  border: 1px solid #00cc66;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px #00cc66;
}

.scheduled-card {
  grid-column: 1 / -1;
  background-color: #121212;
  border: 1px solid #00cc66;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.engineer-list {
  grid-column: 1 / -1;
  margin-top: 20px;
}

.engineer-list ul {
  padding-left: 20px;
  list-style-type: square;
}
